/*------------------------------*\
     $BUTOMS
\*------------------------------*/

.btn-verde {
	background-color: $color-verde;
	color: $color-white;
}

.btn-verde:hover {
	background-color: $color-verde-hover;
}