/*------------------------------*\
     $IMAGENES
\*------------------------------*/


#header img {
	width: 60px;
}

#main .carousel-inner img {
	max-height: 70vh;
	object-fit: cover;
	filter: grayscale(70%);
}

.alto-img {
	height: 200px;
}

#lugar-tiempo img {
	max-width: 100%;
}